[submodule "IAT381_P02WK05CODE"]
	path = IAT381_P02WK05CODE
	url = /Users/amagee/Desktop/iat381-p02-team25.git/IAT381_P02WK05CODE
[submodule "_work/IAT381_P02WK05CODE"]
	path = _work/IAT381_P02WK05CODE
	url = /Users/amagee/Desktop/iat381-p02-team25.git/_work/IAT381_P02WK05CODE
