/**-----------------------------------------------------------------------------------------------------------------
DEFAULT BODY STYLE
----------------------------------------------------------------------------------------------------------------**/ 


body{ 

	background-image: url("Images/Background_Rainbow.jpg") no-repeat;
	color: rgb(0,0,0);
	font-size: 1em;
	font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
	line-height: 1.25;
	text-align: left;
	
}



#page-wrap {
	text-align: left; 
	width: 1000px;
	margin: 0 auto; 
	color:black;


}
/** Specify style for page-wrap ID to centre website **/



*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.productdetailsimg {
padding:0;
float:left;

}


#ReFindLogo {
float: left; 

}

a {
	text-decoration: none;
}

a:link, a:visited{
color: rgb(0,0,0);
}



ul, li {
	list-style: none;
	text-align:left; 
	padding-left:0; 
}


header {
background-color:black;
}



.mainheader img {
	width: 30%;
	height: auto;
	margin: 2%;
	background:black; 
}

/**-----------------------------------------------------------------------------------------------------------------
NAV STYLE
----------------------------------------------------------------------------------------------------------------**/ 

.mainheader nav {
	background-color: rgb(0,0,0);
	height: 100%;
	font-size: 150%;
	padding-bottom:30px;
	margin-left:30px;
	overflow:auto;

}

.mainheader nav ul {

	list-style: none;
	margin: 0 auto;
}

.mainheader nav li {
	float: left;
	display: inline;
	padding: 1% 1%;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: rgb(255,255,255);
	display: inline-block;
	
}

.about {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.about:hover {
  border-top-color: rgb(56,180,73);
}

.home {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.home:hover {
  border-top-color: rgb(0,0,0);
}

.products {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.products:hover {
  border-top-color: rgb(158,30,98);
}

.workshop {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.workshop:hover {
  border-top-color: rgb(0,167,157);
}

.lookbook {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.lookbook:hover {
  border-top-color: rgb(145,38,143);
}


.media {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.media:hover {
  border-top-color: rgb(200,29,40);
}


.blog {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.blog:hover {
  border-top-color: rgb(247,147,29);
}

.contact {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.contact:hover {
  border-top-color: rgb(187,189,192);
}


figcaption {
	color: black;
	font-size: 0.75em;
	font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
	font-style: italic;
	text-align: left;

	
	
}

.grid {

	height:800px;

}


.col-1of2 {
  width: 70%;
  float: left;
  line-height: 25px;
  overflow: hidden;
  height:100%;
}

.col-2of2 {
  width: 30%;
  float: left;
  line-height: 25px;
  overflow: hidden;
  height:100%;
}

.productslisting_detailpage {
	background-color:#F0F0F0;
	min-height: 20em; 
	padding: 3% 5%; 
	overflow:scroll; 
	/** overflow:hidden keeps .thumbnail images nested in .productslisting tag **/
}

.productslisting_mainpage {
	background-color:#F0F0F0;
	min-height: 20em; 
	padding: 3% 5%; 
	overflow:scroll; 
	height:100%; 

}

.productsnav{
	display:block; 
	font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
	color:white; 
	font-size: 1.15em; 
	width:100%;
	margin-right:0;


}


.productsnavbutton {
	display:block; 
	color: rgb(0, 0, 0);
	background-color: rgb(158,30,98);
	padding:5px;
	width:100%; 
	border:1px;
	border-style:solid;
	border-color: rgb(79,15,49); 
}

.productsnavbutton a:hover{

	background-color: rgb(79,15,49);
	
} 

.productsnavbutton a:active{

	background-color: rgb(79,15,49);
		
}

.thumbnailwrapper {
  	margin:0px;
	padding: 5px;
  	height:auto;
  	width:auto;
  	float:left;
  	text-align:center;
}

a.thumbnail img {
  margin:5px;
  border:none;
  height:180px;
  width:180px;
  transition: 0.5s opacity; 
  
}

a.thumbnail:hover {
	background-color: white;
}

a.thumbnail:hover img {
	opacity:0.5; 
	
}


.sidebar{
	float: left;
	background-color: rgb(164,164,164);
	padding: 10px;
	height:100%;
	width:100%;
	
}


.productspecs { 
	background-color: #D0D0D0; 
	padding:10px;
	height:20em;
	height:100%;

}

.mainFooter{
	width: 100%;
	background-color: black;
	margin:0;
	float:left; 
}

.mainFooter p {
	color: rgb(255,255,255);
	width: 90%;
	margin: 2% auto;

}

/**-----------------------------------------------------------------------------------------------------------------
FORM STYLE
----------------------------------------------------------------------------------------------------------------**/ 

input.field {
	resize:horizontal; 
	width:4em; 

}

.button_addcart {
	font-size:1.2em;
	border:none; 
	background-color:#686868;
}

a.button_addcart: hover, active {
	font-size:1.25em;
	text-decoration:bold; 
	
}

@media only screen and (min-width:150px) and (max-width:1000px) {

	.body {
	width:90%; 
	}
	
	#page-wrap {
	width:90%; 
	}
	
	img {
	width:100%;  
	}
	
	.thumbnail {
	max-width: 100%;  
 	}
	
	.col-1of2 {
	width:100%; 
	}
	.col-2of2 {
	width:100%; 
	}
	
	
}





