/**-----------------------------------------------------------------------------------------------------------------
DEFAULT BODY STYLE
----------------------------------------------------------------------------------------------------------------**/ 

body {
	font-size: 100%;
	font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
	line-height: 1.25;
	text-align: left;
}



a {
	text-decoration: none;
}

a:link, a:visited { 
	color: rgb(0,0,0);
}

ul, li {
	list-style: none;
	text-align:left; 
	padding-left:0; 
}


#page-wrap {
	text-align: left; 
	width: 1000px;
	margin: 0 auto; 

} /** Specify style for page-wrap ID to centre website **/

/**-----------------------------------------------------------------------------------------------------------------
HEADER STYLE 
-----------------------------------------------------------------------------------------------------------------**/

.search {
	float:left; 
	font-size:1.25em;
	margin-left:275px;
	margin-top:100px;

}

.searchtext { 
	float:left; 
	color: white;
	margin-right:5px; 
	
}

.searchfield {
	float:left;
	margin-top:22px; 

}

	
.submitbutton {
	float:left; 
	position:relative;
	top:15px; 
	padding:3px;
	font-size:0.7em;
	border:none; 
	background-color:#C0C0C0;
	margin:5px;
	

} 


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#ReFindLogo {
float:left;
margin-top:20px;
 

}

.mainheader {
	background-color:black;
	padding:30px;
	height:300px;
}

.mainheader img {
	width: 30%;
	height: auto;
	margin: 2%;
	float:left;

}

.mainheader nav {
	background-color: rgb(0,0,0);
	width:100%; 
	font-size: 150%;
	overflow:auto;
	position:relative; 
	top:25px;
	left:30px;
}

.mainheader nav ul {

	list-style: none;
	margin: 0 auto;
}

.mainheader nav li {
	float: left;
	display: inline;
	padding: 1% 1%;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: rgb(255,255,255);
	display: inline-block;
	
}



/**-----------------------------------------------------------------------------------------------------------------
MAIN NAV STYLE 
-----------------------------------------------------------------------------------------------------------------**/

.about {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.about:hover {
  border-top-color: rgb(56,180,73);
  
}

.home {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.home:hover {
  border-top-color: rgb(0,0,0);
}

.products {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.products:hover {
  border-top-color: rgb(158,30,98);
}

.workshop {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.workshop:hover {
  border-top-color: rgb(0,167,157);
}

.lookbook {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.lookbook:hover {
  border-top-color: rgb(145,38,143);
}


.media {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.media:hover {
  border-top-color: rgb(200,29,40);
}


.blog {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.blog:hover {
  border-top-color: rgb(247,147,29);
}


.contact {
color:white;
text-decoration:none; 
border-style:solid;
border-top: solid;
border-width:10px;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
border-top-color:white;
}

.contact:hover {
  border-top-color: rgb(187,189,192);
}



/**-----------------------------------------------------------------------------------------------------------------
PAGE CONTENT STYLE 
-----------------------------------------------------------------------------------------------------------------**/ 



.mainblock {
background-color:black;
height: 35rem; 
padding: 3% 5%; 
border-bottom: dashed;
border-bottom-color: white;
margin-bottom: 10px;

}

.productslisting {
	background-color:white;
	min-height: 20em; 
	padding: 3% 5%; 
	overflow:scroll; 
	/** overflow:hidden keeps .thumbnail images nested in .productslisting tag **/
}

.productslisting h2 {
	color: rgb(158,30,98); 
}

.productslisting a:hover, active {
	color: rgb(158,30,98);
	text-decoration:underline;
}


 

/* 

.productslisting a:hover, a:active { 
	background-color: rgb(158,30,98);
}
 */


/** Trying to override "a" css style with SPECIFIC button effect **/



.thumbnailwrapper {
  	margin:5px;
	padding: 5px;
  	height:auto;
  	width:auto;
  	float:left;
  	text-align:center;
}

a.thumbnail img {
  margin:5px;
  height:215px;
  width:215px;
  transition: 0.5s opacity; 
  border:5px;
  border-style:solid;
  border-color:#9E1E62; 
  
}

a.thumbnail:hover {
	background-color: white;
}

a.thumbnail:hover img {
	opacity:0.5; 
	

}

.top-sidebar{
	height:500px;
	width: 30%;
	float: left;
	background-color: #E8E8E8;
	padding: 2% 3%;
	margin-bottom: 2%;
}
  

.partnerslogos {
	position:relative;
	height:100%;
	width:100%;
	display: block;
	overflow: hidden; 
}

.partnerimg {
	position:relative;
	width:100%;
	

}

.mainContent {
	display:block; 
	line-height: 25px;
	overflow: hidden;
	margin-right: 0 auto;
	background-color: #E8E8E8;
 	/** Use "faux column" effect so .top-sidebar appears to be the same 
 	height as .content. Tutorial link: http://www.hongkiat.com/blog/css-equal-height/ **/
}

.content{
	width: 70%;
	background-color: rgb(204,204,204);
	float: left;
}

.content h2 {
	color: rgb(247,147,29);
}

.content a:hover, active {
	text-decoration:underline;
	color:rgb(247,147,29);
}

.topcontent{
	
	padding: 3% 5%;
	margin-top: 2px;
}

.bottomcontent{
	padding: 3% 5%;
	margin-top: 2px;
}

.post-info{
	font-style: italic;
	color: rgb(255,255,255);
	font-size: 85%;

}


figcaption {
	color: black;
	font-size: 0.75em;
	font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
	font-style: italic;
	text-align: left;
	width:100px; 
	
}


/**-----------------------------------------------------------------------------------------------------------------
CAROUSEL STYLE 
-----------------------------------------------------------------------------------------------------------------**/ 


#carousel-frame{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;


}

#carousel-nav{
	position: absolute;
	width: 100%;
	top: 50%;
	display: block;
	margin-top: -20px;
	z-index: 99999;
}

#prev{
	float: left;
	padding: 10px;
}

#next{
	float: right;
	padding: 10px;
}

.carousel-slide{
	position: relative;
	float: left;
	display: inline-block;
	padding: 0 auto;
	margin: 0 auto;
}

.carousel-slide img {
	width: 537px;
	height: 400px;
	display: none;
}

.carousel-desc{
	position: absolute;
	bottom: 0px;
	z-index: 9999;
	background-color: rgba(0,0,0,0.5);
	width: 100%;

}

.carousel-desc p {
	font-size: 14px;
	color: white;
	margin-left: 30px;
}



/**-----------------------------------------------------------------------------------------------------------------
FOOTER STYLE AND NAV
-----------------------------------------------------------------------------------------------------------------**/


.mainFooter{
	width: 100%;
	float: left;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	height:150px; 
	padding-left:30px;
	padding-right:30px;
}

.mainFooter nav{
	position:relative;
	left:400px;

}

.mainFooter a {
	color:#FFFFFF; 
	float:left;
	display:inline; 
	padding:5px;
	font-size:0.9em;

}

.mainFooter a:hover, active{
	text-decoration:underline;
}

.mainFooter ul {
	list-style:none;

}

p.copyrightdisclaimer {
	display:block; 
	float:left;

}

/**-----------------------------------------------------------------------------------------------------------------
@MEDIA RESPONSIVE CODE
-----------------------------------------------------------------------------------------------------------------**/

@media only screen and (min-width:150px) and (max-width:600px) {

	.body {
	width:90%; 
	}
	
	#page-wrap {
	width:90%; 
	}
	
	img {
	width:100%;  
	}
	
	.thumbnail {
	max-width: 100%;  
 	}
 	
 	.mainheader {
 	width:100%;
 	}
 	
 	.mainheader nav { 
 	width:100%;
 	}
 	
 	.search {
 	visibility:hidden;
 	}
	
	.content {
	width:100%; 
	}
	
	.top-sidebar {
	width:100%; 
	}
	
	.mainblock {
	width:100%; 
	}
	
	div.partnerslogos {
	display: inline-block;
	width: 100%; 
	}
	
	.partnerimg {
	
	width:100%;
	height:33.33%;
	
	}
	
	#carousel-frame{
	visibility:hidden;


}
	
	.carousel-slide {
	visibility:hidden;
}

	.mainFooter {
	width:100%;
	}
	
	.mainFooter nav {
	visibility:hidden;
	
	}
	
	
	
	
	
}
